cloudpickle==0.1.1
cymem==1.30
falcon==0.3.0
murmurhash==0.26.0
newrelic==2.60.0.46
numpy==1.10.4
plac==0.9.1
preshed==0.46.1
python-mimeparse==0.1.4
semver==2.2.1
six==1.10.0
spacy==0.100.2
sputnik==0.8.2
sqlitedict==1.4.0
text-unidecode==1.0
thinc==4.2.0
ujson==1.35
wheel==0.24.0
